<section class="section container-fluid">
  <h1 class="page-header">STAPPENTELLER</h1>
  <p>stappen: {{stappen}}</p>
  <button onclick="available()">Health available?</button>
</section>

<script type="text/javascript">
  window.onerror = function (a, b, c) {
    alert(a);
    alert(c);
  };
  var callback = function (msg) {
    // wrapping in a timeout because of a possbile native UI element blocking the webview
    setTimeout(function () {
      alert(JSON.stringify(msg))
    }, 0);
  };
  var yesterday = new Date();
  yesterday.setDate(yesterday.getDate() - 1);
  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);
  function available() {
    window.plugins.healthkit.available(
            callback,
            callback
    );
  }
  function requestAuthorization() {
    var supportedTypes = [
      'HKQuantityTypeIdentifierHeight',
      'HKQuantityTypeIdentifierStepCount',
      'HKQuantityTypeIdentifierDistanceWalkingRunning',
      'HKCategoryTypeIdentifierSleepAnalysis',
      'HKQuantityTypeIdentifierDietaryEnergyConsumed',
      'HKQuantityTypeIdentifierDietaryFatTotal'
    ];
    window.plugins.healthkit.requestAuthorization(
            {
              readTypes: supportedTypes,
              writeTypes: supportedTypes
            },
            function(){alert('ok')},
            function(){alert('nok')}
    );
  }
  function checkAuthStatus() {
    window.plugins.healthkit.checkAuthStatus(
            {
              'type': 'HKQuantityTypeIdentifierHeight'
            },
            callback,
            callback
    );
  }
  function readDateOfBirth() {
    window.plugins.healthkit.readDateOfBirth(
            callback,
            callback
    );
  }
  function readGender() {
    window.plugins.healthkit.readGender(
            callback,
            callback
    );
  }
  function readBloodType() {
    window.plugins.healthkit.readBloodType(
            callback,
            callback
    );
  }
  function readFitzpatrickSkinType() {
    window.plugins.healthkit.readFitzpatrickSkinType(
            callback,
            callback
    );
  }
  function saveWeight() {
    window.plugins.healthkit.saveWeight({
              'requestReadPermission': false, // use if your app doesn't need to read
              'unit': 'kg',
              'amount': 78.5,
              'date': new Date() // is 'now', which is the default as well
            },
            callback,
            callback
    );
  }
  function readWeight() {
    window.plugins.healthkit.readWeight(
            {
              'requestWritePermission': true, // use if your app doesn't need to write
              'unit': 'kg'
            },
            callback,
            callback
    );
  }
  function saveHeight() {
    window.plugins.healthkit.saveHeight({
              'requestReadPermission': false,
              'unit': 'cm', // m|cm|mm|in|ft
              'amount': 187
            },
            callback,
            callback
    );
  }
  function readHeight() {
    window.plugins.healthkit.readHeight({
              'requestWritePermission': false,
              'unit': 'cm' // m|cm|mm|in|ft
            },
            callback,
            callback
    );
  }
  function findWorkouts() {
    window.plugins.healthkit.findWorkouts({},
            callback,
            callback
    );
  }
  function saveWorkout() {
    window.plugins.healthkit.saveWorkout({
              //'requestReadPermission' : false,
              'activityType': 'HKWorkoutActivityTypeCycling', // HKWorkoutActivityType constant (https://developer.apple.com/library/ios/documentation/HealthKit/Reference/HKWorkout_Class/#//apple_ref/c/tdef/HKWorkoutActivityType)
              'quantityType': 'HKQuantityTypeIdentifierDistanceCycling',
              'startDate': new Date(), // mandatory
              'endDate': null, // optional, use either this or duration
              'duration': 3600, // in seconds, optional, use either this or endDate
              'energy': 300, //
              'energyUnit': 'kcal', // J|cal|kcal
              'distance': 11, // optional
              'distanceUnit': 'km' // probably useful with the former param
              // 'extraData': "", // Not sure how necessary this is
            },
            callback,
            callback
    );
  }
  function querySampleType() {
    window.plugins.healthkit.querySampleType(
            {
              'startDate': new Date(new Date().getTime() - 3 * 24 * 60 * 60 * 1000), // three days ago
              'endDate': new Date(), // now
              'sampleType': 'HKQuantityTypeIdentifierBasalBodyTemperature',
              //'sampleType': 'HKQuantityTypeIdentifierStepCount', // anything in HealthKit/HKTypeIdentifiers.h
              'unit': 'degF' // make sure this is compatible with the sampleType
            },
            callback,
            callback
    );
  }
  function querySampleTypeAggregated() {
    window.plugins.healthkit.querySampleTypeAggregated(
            {
              'startDate': new Date(new Date().getTime() - 3 * 24 * 60 * 60 * 1000), // three days ago
              'endDate': new Date(), // now
              'aggregation': 'week', // 'hour', 'week', 'year' or 'day', default 'day'
              'sampleType': 'HKQuantityTypeIdentifierStepCount', // any HKQuantityType
              'unit': 'count' // make sure this is compatible with the sampleType
            },
            callback,
            callback
    );
  }
  // to test, set a few 'weight' samples, then run this
  function deleteSamples() {
    window.plugins.healthkit.deleteSamples(
            {
              'startDate': new Date(new Date().getTime() - 60 * 60 * 1000), // an hour ago
              'endDate': new Date(), // now
              'sampleType': 'HKQuantityTypeIdentifierBodyMass'
            },
            callback,
            callback
    );
  }
  // this is work in progress
  function monitorSampleType() {
    window.plugins.healthkit.monitorSampleType(
            {
              'sampleType': 'HKCategoryTypeIdentifierSleepAnalysis'
            },
            function (value) {
              // this gets called when a new sample is available (can then be fetched by a different function)
              console.log("Sleep (webview): " + value);
            },
            callback
    );
  }
  function sumQuantityType() {
    window.plugins.healthkit.sumQuantityType(
            {
              'startDate': new Date(new Date().getTime() - 3 * 24 * 60 * 60 * 1000), // three days ago
              'endDate': new Date(), // now
              'sampleType': 'HKQuantityTypeIdentifierStepCount'
            },
            function (value) {
              alert("Success for running step query " + value);
            },
            callback
    );
  }
  function saveQuantitySample_StepCount() {
    window.plugins.healthkit.saveQuantitySample(
            {
              'startDate': new Date(new Date().getTime() - 24 * 60 * 60 * 1000), // a day ago
              'endDate': new Date(), // now
              'sampleType': 'HKQuantityTypeIdentifierStepCount', // make sure you request write access beforehand
              'unit': 'count',
              'amount': 300
            },
            function (value) {
              alert("Success running saveQuantitySample, result: " + value);
            },
            callback
    );
  }
  function saveQuantitySample_Energy() {
    window.plugins.healthkit.saveQuantitySample(
            {
              'startDate': new Date(), // now
              'endDate': new Date(), // now
              'sampleType': 'HKQuantityTypeIdentifierDietaryEnergyConsumed', // make sure you request write access beforehand
              'unit': 'kcal',
              'amount': 64
            },
            function (value) {
              alert("Success running saveQuantitySample, result: " + value);
            },
            callback
    );
  }
  function saveCorrelation() {
    window.plugins.healthkit.saveCorrelation(
            {
              'startDate': new Date(), // now
              'endDate': new Date(), // now
              'metadata': {'a': 'b'},
              'correlationType': 'HKCorrelationTypeIdentifierFood', // don't request write permission for this
              'samples': [
                {
                  'startDate': new Date(),
                  'endDate': new Date(),
                  'sampleType': 'HKQuantityTypeIdentifierDietaryEnergyConsumed', // make sure you request write access beforehand
                  'unit': 'kcal',
                  'amount': 500
                },
                {
                  'startDate': new Date(),
                  'endDate': new Date(),
                  'sampleType': 'HKQuantityTypeIdentifierDietaryFatTotal', // make sure you request write access beforehand
                  'unit': 'g',
                  'amount': 25
                }
              ]
            },
            function (value) {
              alert("Success running saveCorrelation, result: " + value);
            },
            callback
    );
  }
  function queryCorrelationTypeFood() {
    window.plugins.healthkit.queryCorrelationType(
            {
              'startDate': new Date(new Date().getTime() - 24 * 60 * 60 * 1000), // a day ago
              'endDate': new Date(), // now
              'correlationType': 'HKCorrelationTypeIdentifierFood', // don't request read permission for this
              'unit': 'g'
            },
            function (value) {
              alert("Success running queryCorrelationType, result: " + JSON.stringify(value));
            },
            callback
    );
  }
  function queryCorrelationTypeBloodPressure() {
    window.plugins.healthkit.queryCorrelationType(
            {
              'startDate': new Date(new Date().getTime() - 24 * 60 * 60 * 1000), // a day ago
              'endDate': new Date(), // now
              'correlationType': 'HKCorrelationTypeIdentifierBloodPressure', // don't request read permission for this
              'unit': 'Pa'
            },
            function (value) {
              alert("Success running queryCorrelationType, result: " + JSON.stringify(value));
            },
            callback
    );
  }
</script>